@using Quizanchos.WebApi.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="admin-layout">
    @if (User.IsInRole(QuizRole.Owner)|| User.IsInRole(QuizRole.Admin))
    {
        <header class="admin-header">
            <div class="header-container">
                <h1 class="logo">Admin Panel</h1>
                <nav class="admin-nav">
                    <ul>
                        <li><a href="/Admin">Categories</a></li>
                        <li><a href="/Admin/Users">Users</a></li>
                        <li><a href="/Admin/Content">Create new Quiz</a></li>
                        <li><a href="/Admin/Settings">Settings</a></li>
                        <li><a href="/Admin/Logs">Logs</a></li>
                        <li><a href="/Account/Logout" class="logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    }

    <main class="admin-main">
        @RenderBody()
    </main>

    <footer class="admin-footer">
        <p>&copy; @DateTime.Now.Year Quizanchos Admin Panel. All rights reserved.</p>
    </footer>
</div>
</body>
</html>